

figure{

    display:flex ;
    flex-direction: column;
    align-items: center;
    img{
        @media (max-width: 600px) { 
            width: 80vw;
            
            
        }
        padding: 20px;
        width: 27vw;
        object-fit: cover;
        border-radius: 10px;
    }
}

