.home{
    
    p{ 
        @media (max-width: 600px) { 
            margin-top: 160px;
            margin-left: 100px;
            margin-right: 60px;
            
            
            
        }
        font-family:var(--font-family);
        color: white;
        font-size: 30px;
        z-index: 1;
        position: absolute;
        margin-left: 180px;
        margin-right: 100px;
        margin-top: 200px;
    }
    img{
        
        width: 100%;
        height: 90vh;
        object-fit: cover;
    }
}